    </main>

    <footer>
        <section>
            <article class='contentContainer--collapse '>
                <div class='footer__section item--snap--3Hunna '>
                    <h3
                        class=" footer__title title--neat2a title--xs title--padding--mini footer__item title--uppercase">
                        Lash World</h3>
                    <div class='footer__description title--neat title--uppercase'>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Earum impedit possimus esse totam quo! Illo consequuntur
                        tenetur corporis ipsa modi facilis ea
                    </div>
                    <h3
                        class=" footer__title title--neat2a title--xs title--padding--mini footer__item title--uppercase">
                        Careers</h3>
                    <div class='footer__description title--neat title--uppercase'>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Earum impedit possimus esse totam quo! Illo consequuntur
                        tenetur corporis ipsa modi facilis ea
                    </div>
                    <h3
                        class=" footer__title title--neat2a title--xs title--padding--mini footer__item title--uppercase">
                        Blog</h3>
                    <div class='footer__description title--neat title--uppercase'>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Earum impedit possimus esse totam quo! Illo consequuntur
                        tenetur corporis ipsa modi facilis ea
                    </div>
                </div>
                <div class='footer__section item--snap--3Hunna'>
                    <h3
                        class=" footer__title title--neat2a title--xs title--padding--mini footer__item title--uppercase">
                        About</h3>
                    <div class='footer__description title--neat title--uppercase'>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Earum impedit possimus esse totam quo! Illo consequuntur
                        tenetur corporis ipsa modi facilis ea
                    </div>
                    <h3
                        class=" footer__title title--neat2a title--xs title--padding--mini footer__item title--uppercase">
                        T's & C's</h3>
                    <div class='footer__description title--neat title--uppercase'>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Earum impedit possimus esse totam quo! Illo consequuntur
                        tenetur corporis ipsa modi facilis ea
                    </div>
                    <h3
                        class=" footer__title title--neat2a title--xs title--padding--mini footer__item title--uppercase">
                        Privacy Policy</h3>
                    <div class='footer__description title--neat title--uppercase'>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Earum impedit possimus esse totam quo! Illo consequuntur
                        tenetur corporis ipsa modi facilis ea
                    </div>
                </div>
            </article>
        </section>

    </footer>

    <script src="/serviceWerxSeed.js" async defer></script>
    <script src="/lash-min.js" async defer></script>


    </body>

    </html>