    </main>

    <footer class='section--lightblue'>

        <article class='contentContainer--collapse '>
            <div class='footer__section item--snap--3Hunna '>
                <h3
                    role="button" class="title__xxs--vwVersion footer__title title__neat2a title__padding--mini footer__item title__uppercase">
                    Lash World</h3>
                <div class='footer__description title__neat title__uppercase'>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Earum impedit possimus esse totam quo! Illo consequuntur
                    tenetur corporis ipsa modi facilis ea
                </div>
                <h3
                    role="button" class=" footer__title title__neat2a title__xxs--vwVersion title__padding--mini footer__item title__uppercase">
                    Careers</h3>
                <div class='footer__description title__neat title__uppercase'>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Earum impedit possimus esse totam quo! Illo consequuntur
                    tenetur corporis ipsa modi facilis ea
                </div>
                <h3
                    role="button" class=" footer__title title__neat2a title__xxs--vwVersion title__padding--mini footer__item title__uppercase">
                    Blog</h3>
                <div class='footer__description title__neat title__uppercase'>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Earum impedit possimus esse totam quo! Illo consequuntur
                    tenetur corporis ipsa modi facilis ea
                </div>
            </div>
            <div class='footer__section item--snap--3Hunna'>
                <h3
                    role="button" class=" footer__title title__neat2a title__xxs--vwVersion title__padding--mini footer__item title__uppercase">
                    About</h3>
                <div class='footer__description title__neat title__uppercase'>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Earum impedit possimus esse totam quo! Illo consequuntur
                    tenetur corporis ipsa modi facilis ea
                </div>
                <h3
                    role="button" class=" footer__title title__neat2a title__xxs--vwVersion title__padding--mini footer__item title__uppercase">
                    T's & C's</h3>
                <div class='footer__description title__neat title__uppercase'>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Earum impedit possimus esse totam quo! Illo consequuntur
                    tenetur corporis ipsa modi facilis ea
                </div>
                <h3
                    role="button" class=" footer__title title__neat2a title__xxs--vwVersion title__padding--mini footer__item title__uppercase">
                    Privacy Policy</h3>
                <div class='footer__description title__neat title__uppercase'>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                    Earum impedit possimus esse totam quo! Illo consequuntur
                    tenetur corporis ipsa modi facilis ea
                </div>
            </div>
        </article>

    </footer>

    <script type='text/javascript' src="/serviceWorkerRegister.js" async defer></script>
    <script type='text/javascript' src="/lash-min.js" async defer></script>


    </body>

    </html>