 <!DOCTYPE html>
 <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
 <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
 <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
 <!--[if gt IE 8]><!-->
 <html lang='en' class="no-js">
 <!--<![endif]-->

 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Lash Bar</title>
     <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
     <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
     <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
     <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
     <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
     <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
     <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
     <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
     <link rel="icon" type="image/png" sizes="192x192" href="/icon/android-icon-192x192.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
     <link rel="manifest" href="/manifest.json">
     <meta name="msapplication-TileColor" content="#ADD8E6">
     <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
     <meta name="theme-color" content="#ADD8E6">
     <meta name="description"
         content="The luxury beauty house located in the UK's Steel city, specializing in Brows, Nails and Hair in the heart of Sheffield. Call us or book an appointment online.">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon">
     <link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
     <link
         href="https://fonts.googleapis.com/css?family=Cardo|Old+Standard|Caveat+Brush|Caveat:400,700|Josefin+Sans:300,700|Nova+Round"
         rel="stylesheet">
     <link rel="stylesheet" href="/lashbar.css">
     <script src="https://kit.fontawesome.com/946cdb8093.js" crossorigin="anonymous"></script>

 </head>

 <body>
     <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


     <aside class='nav2 contentContainer--oneMiddle title__neat2 title__xs '>
         <h2 class='' id='navi'>
             <a href='/appointment'>Book an appointment
                 <span class='item--pointer'> : Nails | Brows | Hair</span>
             </a>
         </h2>
     </aside>
     <nav class='nav contentContainer section--lightblue' id='navbar'>
         <div class='contentContainer--collapse content--fullwidth'>



             <h1 class='contentContainer--oneMiddle title__blanchedA contentContainer__sideByside'>
                 <span id='lashTitle1' class=' title__neat2 title__uppercase title__spaceOut font--weight--thin'>The
                 </span>
                 <span id='lashTitle2' class='title__spaceOut  title__neat2 title__uppercase'><a
                         href='/'>Lash</a></span>
                 <span id='lashTitle3' class=' title__neat2 title__uppercase title__spaceOut font--weight--thin'>Bar
                 </span>
             </h1>
             <ul class='navChoices contentContainer'>
                 <li>
                     <a class='title__maroon nav--link title__xs title__neat2 title__uppercase font--weight--thin nav--item title__padding--mini'
                         href="#ourWork">Our Work</a></li>
                 <li>
                     <a class='title__maroon nav--link title__xs title__neat2 title__uppercase font--weight--thin nav--item title__padding--mini'
                         href="#treatments">Treatments</a></li>
                 <li>
                     <a class='title__maroon nav--link title__xs title__neat2 title__uppercase font--weight--thin nav--item title__padding--mini'
                         href="#social">Social</a></li>
                 <li>
                     <a class='title__maroon nav--link title__xs title__neat2 title__uppercase font--weight--thin nav--item title__padding--mini'
                         href="#blogPost">Beauty Blog</a>
                 </li>
                 <li>
                     <a class='title__maroon nav--link title__xs title__neat2 title__uppercase font--weight--thin nav--item title__padding--mini'
                         href="#location">
                         Locations</a></li>

             </ul>


             <div class='title__xs--vwVersion nav__menu--mob'><i class="fas fa-bars"></i></div>



         </div>
     </nav>
     <main role='main' class=''>