<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang='en' class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lash Bar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/61de65d866/UntitledProject/style.css">
    <link
        href="https://fonts.googleapis.com/css?family=Caveat+Brush|Caveat:400,700|Elsie|Fjalla+One|Josefin+Sans:300,700|Niramit|Nova+Round|Teko"
        rel="stylesheet">
    <link rel="stylesheet" href="/CSS/lashbar.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


    <nav class='nav contentContainer section--lightblue' id='navbar'>
        <aside class='nav2 contentContainer--oneMiddle title--neat2 title--xs '>
            <h2 class='' id='navi'>Book an appointment for :</h2>
            <a href='/appointment'><span class='item--pointer'>Nails</span> | <span class='item--pointer'>Brows</span> |
                <span class='item--pointer'>Hair</span></a>
        </aside>
        <h1 class='contentContainer--oneMiddle title--edgeBuffer title--blanchedA'>
            <span id='lashTitle1'
                class='title--small title--neat2 title--uppercase title--spaceOut font--weight--thin'>The </span>
            <span id='lashTitle2' class=' title--spaceOut title--small title--neat2 title--uppercase'>Lash</span>
            <span id='lashTitle3'
                class='title--small title--neat2 title--uppercase title--spaceOut font--weight--thin'>Bar </span>
        </h1>
    </nav>
    <main role='main' class=''>