/* Block component */
/* Element that depends upon the block */
/* Modifier that changes the style of the block */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

input:focus::-ms-input-placeholder {
  color: transparent; }

input:focus::placeholder {
  color: transparent; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid lightblue;
  box-shadow: 0 0 0px 1000px lightblue inset;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px lightblue inset; }

html {
  scroll-behavior: smooth; }

body {
  height: 100vh;
  background-color: lightblue;
  position: relative;
  font-size: 16px; }

ul {
  list-style-type: none; }

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%; }

.input__subscribe {
  border: 0 transparent;
  height: 100%;
  width: 100%;
  text-align: center;
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 2px solid black; }

.container__subscription {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 10;
  top: 50%;
  left: 50%; }

.container__location--fitInside {
  overflow: hidden;
  display: block;
  position: relative; }
  .container__location--fitInside:after {
    content: '';
    opacity: 0.04;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    background-size: cover;
    transform: scale(2.5);
    background: no-repeat center url("https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873303/lashbar/sheffMap.jpg"); }

.title {
  font-family: 'Caveat Brush', cursive; }

.title__blanchedA {
  color: blanchedalmond; }

.title__maroon {
  color: maroon; }

.title__yellow {
  color: yellow; }

.title__black {
  color: black; }

.title__spaceOut {
  letter-spacing: 10px; }

.title__lg {
  font-size: 15em;
  display: block;
  line-height: 150px; }

.title__lg--vwVersion {
  font-size: 15vw; }

.title__md--vwVersion {
  font-size: 7vw; }

.title__sm--vwVersion {
  font-size: 3.7vw; }

.title__xs--vwVersion {
  font-size: 2.5vw; }

.title__xxs--vwVersion {
  font-size: 1.5vw; }

.title__md {
  display: block;
  font-size: 7em;
  padding: 10px; }

.title__small {
  display: block;
  font-size: 2em; }

.title__xs {
  display: block;
  font-size: 1.25em; }

.title__fancy {
  font-family: 'Caveat', cursive; }

.title__fancy2 {
  font-family: 'Caveat Brush', cursive; }

.title__fancy3 {
  font-family: 'Cardo', serif; }

.title__fancy4 {
  font-family: 'Old Standard TT', serif; }

.title__neat {
  font-family: 'Nova Round', cursive; }

.title__neat2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700; }

.title__neat2a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300; }

.title__uppercase {
  text-transform: uppercase; }

.title__padding {
  padding: 30px; }

.title__padding--mini {
  padding: 10px; }

.title__padding--noBottom {
  padding: 30px 30px 0 30px; }

.font--weight--thin {
  font-weight: 500; }

.bookingForm {
  height: auto;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow-x: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

::-webkit-input-placeholder {
  color: black;
  text-align: center; }

::-moz-placeholder {
  color: black;
  text-align: center; }

:-ms-input-placeholder {
  color: black;
  text-align: center; }

::-ms-input-placeholder {
  color: black;
  text-align: center; }

::placeholder {
  color: black;
  text-align: center; }

*:focus {
  outline: none; }

.form__button--text :valid {
  color: green; }

.form__button--text :invalid {
  color: red; }

.form__button--text:valid {
  color: green;
  font-weight: 900; }

.form__button--text:invalid {
  font-weight: 900;
  color: maroon; }

.form__input {
  height: 30px;
  top: 40px;
  outline: none;
  color: black;
  border: none;
  background: none;
  border-bottom: 2px solid blanchedalmond;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center; }
  .form__input:focus {
    border: 2px solid blanchedalmond;
    border-radius: 5px;
    transition: all .3s ease; }

.form__button--submit {
  border: none;
  border-radius: 10px;
  text-align: center;
  color: maroon;
  cursor: pointer;
  background: blanchedalmond; }
  .form__button--submit:hover {
    background: maroon;
    color: blanchedalmond; }
  .form__button--submit a:hover {
    background: maroon;
    color: blanchedalmond;
    transition: .5s ease-out; }

.close--CB {
  bottom: 0%; }

.form__input--long {
  width: 570px; }

.img--fade {
  opacity: .3; }

.sellBox--tile__med {
  flex: 1 1 30%;
  margin: 15px; }

.img--fade--stronger {
  opacity: .05; }

.img--position--btm {
  -o-object-position: 0px 144px;
     object-position: 0px 144px; }

.img--screenHg {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%; }

.img--largefill {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.blogPost--img--intro {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -o-object-position: top;
     object-position: top; }

.img--scaleUp {
  transform: scale(1.7); }

.img--scaleUp--extra {
  transform: scale(3.4); }

.sellBox__img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block; }

.sellBox__img--small {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover; }

.img--padding--sm {
  padding: 10px; }

.map--image {
  width: auto;
  -o-object-position: -120px -260px;
     object-position: -120px -260px; }

#lashIntro img {
  opacity: 0; }

.nav__container--inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-flow: row nowrap; }

.navPointer {
  height: auto;
  width: 50px;
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 10;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 2rem; }

.nav__logo {
  font-size: 2.5rem; }

.navPointer--item a {
  color: blanchedalmond; }

.navPointer--item a:active,
.navPointer--item a:hover,
.nav__link--a:hover {
  color: blanchedalmond;
  border-bottom: 2px solid blanchedalmond; }

.nav__link--a {
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: border-bottom ease .7s;
  padding: 20px 0; }

#navi {
  font-size: 1.25rem; }

.navMini {
  z-index: 5;
  color: blanchedalmond; }

.nav {
  width: 100%;
  position: fixed;
  z-index: 12;
  top: 42px;
  padding: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 3px 4px 14px 1px rgba(0, 0, 0, 0.67); }

.nav2 {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 44px;
  overflow: hidden;
  background: blanchedalmond; }

.nav__menu--mob {
  display: none; }

.blogPost--container--intro {
  height: 100vh; }

.blogPst--article--buffer {
  margin: 3rem 5rem; }

.blog--introText {
  line-height: 2.3rem;
  padding: 30px; }

.blog--contentText {
  line-height: 2.5rem;
  padding: 15px;
  text-align: left; }

.blogPst--moreTease {
  border-bottom: 2px solid maroon;
  color: maroon;
  transition: all ease-in-out .3s;
  padding: 0 5px; }
  .blogPst--moreTease:hover, .blogPst--moreTease:active {
    color: blanchedalmond;
    border-bottom: 2px solid blanchedalmond; }

.blog__introText--headlineOuter {
  line-height: auto; }

.loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100000;
  overflow-y: hidden; }

#loaderCurrentNum {
  font-weight: 900;
  transition: all 1s ease 10s;
  opacity: 1;
  height: 100%; }

.progress--container {
  width: 100%;
  height: 10px;
  background: lightblue;
  position: fixed;
  z-index: 1;
  top: 120px;
  right: 0; }

/* The progress bar (scroll indicator) */
.progress--bar {
  height: 10px;
  background: maroon;
  width: 0%; }

.container__introSection--textSell {
  position: relative;
  display: block;
  z-index: 2; }
  .container__introSection--textSell:after {
    content: '';
    background: blanchedalmond;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 10%;
    z-index: 1;
    opacity: .3; }

.welcomeMsg {
  background-image: url(https://res.cloudinary.com/yelpcampmedia/image/upload/v1571875813/lashbar/fireWhip.gif);
  -moz-background-clip: text;
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  margin: 10px 0;
  opacity: 1; }

.introSection--container--welcomeMsg {
  top: 30px;
  position: relative; }

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  /*this ensures the slideshow takes up the whole screen*/
  top: 0;
  left: 0;
  /* this pushes the slideshow to the
    top left corner position */
  z-index: 0;
  /* this sets the slidshow behind the 
    header text as it is furthest on the z axis */
  margin: 0;
  padding: 0;
  /* this removes any padding or
    margin around the slideshow*/
  list-style-type: none; }

.slideshow li {
  /* selects each list item inside the unordered list within slideshow */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  /*allows images to take entire page */
  background-position: 50% 50%;
  /*this centers the images */
  background-repeat: no-repeat;
  /* this prevents and repetition of the image */
  opacity: 0;
  /*this allows the transition by starting each image as invisible */
  z-index: 0;
  /* pushes the image to the back of the layer stack */
  -webkit-animation: flexOnEm 20s linear infinite;
          animation: flexOnEm 20s linear infinite;
  /* this slowly fades the image back in, 
    the animation is given the name flexOnEm, 
    it lasts for 50 secs, is continuous speed
    i.e. linear and keeps looping 4eva */ }

.slideshow li:nth-child(1) {
  background-image: url("https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873301/lashbar/mouth2.webp"); }

.slideshow li:nth-child(2) {
  background-image: url("https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873300/lashbar/lip1.webp");
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

.slideshow li:nth-child(3) {
  background-image: url("https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873299/lashbar/hair13.webp");
  -webkit-animation-delay: 10s;
          animation-delay: 10s; }

.slideshow li:nth-child(4) {
  background-image: url("https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873295/lashbar/hair3.webp");
  -webkit-animation-delay: 15s;
          animation-delay: 15s; }

.slideshow li:nth-child(5) {
  background-image: url("https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873295/lashbar/hair4.webp");
  -webkit-animation-delay: 20s;
          animation-delay: 20s; }

@-webkit-keyframes flexOnEm {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; } }

@keyframes flexOnEm {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; } }

.priceList__category {
  text-transform: uppercase; }

.priceList__category li {
  padding: 10px 0; }

.priceList__ColorBlock--pink {
  background: blanchedalmond;
  height: 20px;
  width: 10px; }
  .priceList__ColorBlock--pink ::after {
    content: 'beep'; }

.fab {
  transition: all 1s ease;
  color: black; }
  .fab:hover[class*="pinterest"] {
    color: #E60023; }
  .fab:hover[class*="spotify"] {
    color: #1DB954; }
  .fab:hover[class*="youtube"] {
    color: #FF0000; }
  .fab:hover[class*="snapchat"] {
    color: #FFFC00; }
  .fab:hover[class*="instagram"] {
    color: #C13584; }
  .fab:hover[class*="facebook"] {
    color: #4267B2; }

.hellaChoc {
  background-image: url(/Media/fireWhip.mp4);
  height: 500px;
  width: 500px;
  position: fixed;
  z-index: 10000; }

.contentContainer--confine {
  overflow: hidden;
  max-height: 100vh;
  width: 100%; }

.contentContainer--confine--flex50 {
  flex: 1 1 50%; }

.contentContainer--pale {
  background: lightblue;
  transition: 1s ease; }

.sellBox {
  text-align: center;
  overflow: hidden; }

.widthMod300 {
  width: 300px; }

.location__content--address {
  line-height: 2rem; }

.item--bottom {
  align-items: flex-end; }

a {
  text-decoration: none;
  color: black; }

article {
  height: auto; }

.article--outer {
  position: relative; }

footer {
  height: auto;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: relative; }

.tweetContainer {
  flex: 1 1 50%;
  height: auto; }

.item--snap--5Hunna {
  flex: 1 1 300px;
  background: blanchedalmond;
  margin: 50px;
  padding: 30px; }

.height700 {
  min-height: 700px; }

.introSection--container {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 11;
  height: 100vh;
  position: relative;
  opacity: 1;
  display: block; }
  .introSection--container::after {
    content: '';
    background-image: url("https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873299/lashbar/hair8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

.fadeToBlack {
  background: linear-gradient(black, black, transparent 90%); }

.text--white {
  color: blanchedalmond; }

.introSection--container--text {
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap; }

.introSection--container--textSignature {
  align-self: flex-end; }

.item--showDaBlock {
  display: block; }

#welcomeMsgDone {
  opacity: 0;
  transition: all ease 5s; }

section {
  max-width: 1222px;
  position: relative;
  margin: 100px 0; }

.section--screenHg {
  height: 100vh; }

.text-overlap {
  position: absolute;
  right: 0;
  z-index: 3;
  top: 33%;
  width: 100%;
  text-align: center; }

.section__article {
  width: 100vw;
  height: 60vh;
  position: absolute;
  margin-top: 140px; }

.contentContainer {
  display: flex;
  align-content: center;
  justify-content: space-around; }

.contentContainer--collapse {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-flow: row wrap; }

.contentContainer--collapseA {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-flow: row wrap; }

.item--snap--small {
  flex: 1 1 200px; }

.item--snap--3Hunna {
  flex: 1 1 300px; }

.contentContainer--allMiddle {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap; }

.contentContainer--oneMiddle {
  display: flex;
  justify-content: center;
  align-items: center; }

.padding-top-boost {
  padding-top: 100px; }

.padding-bottom-boost__mini {
  padding-bottom: 30px; }

.padding-bottom-boost {
  padding-bottom: 100px; }

.padding-top-boost__extra {
  padding-top: 160px; }

[id*='lashTitle'] {
  transition: .4s ease-in; }

.contentContainer--spreadOutWide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-flow: row nowrap; }

.contentContainer__sideByside {
  flex-flow: row wrap; }

.sellbox--inner {
  position: absolute; }

.content--fullwidth {
  width: 100%; }

.sideBySide {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.location__content--site {
  position: relative;
  font-size: 7rem;
  font-weight: 900;
  left: 50%;
  top: -70px;
  color: rgba(0, 0, 0, 0.15);
  transform: translateX(-50%); }

.location__content--container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873303/lashbar/sheffMap.jpg");
  position: relative; }

.location__content--hours {
  padding: 0px 0px 20px 0px;
  text-align: center; }

.dividerBlack--thin {
  border: solid 1px black;
  margin: 10px 0px; }

.contentContainer--onTop {
  z-index: 2; }

.border--black {
  border: 2px solid black; }

.footer__section {
  width: 100%;
  background: lightblue;
  text-align: center;
  padding: 30px 0; }

.section--lightblue {
  background: lightblue; }

.footer__title:hover,
.active {
  background: blanchedalmond;
  transition: background .3s ease-in;
  color: maroon; }

.item--hide {
  display: none;
  opacity: 0; }

.scroll-indicator {
  position: absolute;
  left: 50%;
  font-size: 2rem;
  bottom: 0;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite; }

@-webkit-keyframes bounce {
  0% {
    bottom: 5%; }
  50% {
    bottom: 10%; }
  100% {
    bottom: 5%; } }

@keyframes bounce {
  0% {
    bottom: 5%; }
  50% {
    bottom: 10%; }
  100% {
    bottom: 5%; } }

.nav__link {
  float: left; }

.hamburger__checkbox,
.hamburger__icon {
  display: none; }

.hamburger__checkbox:checked ~ .navChoices {
  max-height: 600px; }

.hamburger__checkbox:checked ~ .hamburger__icon .navicon {
  background: transparent; }

.hamburger__checkbox:checked ~ .hamburger__icon .navicon:before {
  background: blanchedalmond;
  transform: rotate(-45deg);
  top: 0; }

.hamburger__checkbox:checked ~ .hamburger__icon .navicon:after {
  background: blanchedalmond;
  top: 0;
  transform: rotate(45deg); }

.navicon {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px; }
  .navicon:before, .navicon:after {
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%; }

.navicon:before {
  top: 5px; }

.navicon:after {
  top: -5px; }

.navChoices {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly; }

.footer__title {
  cursor: pointer;
  color: maroon; }

.item--pointer {
  cursor: pointer; }

.footer__description {
  padding: 0 100px;
  overflow: hidden;
  max-height: 0; }

@media screen and (min-width: 1222px) {
  .title__sm--vwVersion {
    font-size: 45.2px; }
  .fab {
    font-size: 19.4px; }
  .title__md--vwVersion {
    font-size: 64.88px; }
  .title__xxs--vwVersion {
    font-size: 18.31px; } }

@media screen and (max-width: 1050px) {
  .dividerBlack--thin {
    display: none; }
  .progress--container {
    width: 100%;
    top: 104px; }
  .nav__logo {
    justify-content: flex-start;
    font-size: 2rem;
    padding-left: 20px; }
  .social__icon {
    font-size: 16px; }
  .nav {
    padding: 0; }
  .title__xxs--vwVersion {
    letter-spacing: 0.04rem; }
  .nav__menu--mob {
    display: flex;
    justify-content: center;
    align-items: center; }
  .nav__container--inner {
    flex-flow: row wrap; }
  .img--scaleUp {
    transform: scale(2); }
  .navChoices {
    max-height: 0;
    flex-flow: column;
    flex: 0 2 auto; }
  .nav__link {
    float: none; }
  .hamburger__icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    flex: 2 0 auto; }
  .location__content--site {
    display: none; }
  .title__xxs--vwVersion {
    font-size: .95rem; } }

@media screen and (max-width: 1005px) {
  .location__container--fitInside {
    height: auto; } }

@media screen and (max-width: 900px) {
  .img--largefill {
    max-height: 60vh;
    -o-object-position: 0 50px;
       object-position: 0 50px; }
  section {
    margin: 0; }
  .img--scaleUp {
    transform: scale(2.1); }
  #blogPost article {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-flow: row nowrap; }
  .social__iconContainer {
    padding: 0 30px 0 0;
    order: 3;
    height: 300px;
    flex-flow: column;
    flex: 1 1 20%;
    align-items: center; } }

@media screen and (max-width: 745px) {
  .img--largefill {
    max-height: 60vh;
    -o-object-position: 0 -90px;
       object-position: 0 -90px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .footer__section {
    padding: 0; }
  .img--scaleUp {
    transform: scale(1); }
  #social {
    flex-flow: row wrap; }
  .tweetContainer {
    width: 100%; }
  .introSection--container--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap; } }

@media screen and (max-width: 600px) {
  .item--pointer {
    display: none; }
  .social__container {
    display: flex;
    flex-flow: row nowrap; }
  .introSection--container::after {
    content: '';
    background-position: top; }
  .social__iconContainer {
    flex-flow: column;
    align-items: center; }
  .nav {
    padding: 0; }
  .nav__logo {
    font-size: 1.2rem; }
  .img--largefill {
    -o-object-position: 0 -50px;
       object-position: 0 -50px;
    width: 100%;
    height: 100%; }
  .progress--container {
    top: 44px; }
  .title__xxs--vwVersion {
    font-size: 10.2px; }
  .blog__introText--headlineInner {
    position: relative;
    top: -7px;
    text-align: left;
    letter-spacing: 0.6rem; }
  .blog__introText--headlineOuter {
    line-height: 31px; }
  .scroll-indicator {
    -webkit-animation: bounceSm 1s infinite;
    animation: bounceSm 1s infinite; }
  .introSection--container--textSignature {
    color: lightblue; }
  .priceList__category li {
    font-size: .75rem; }
  @-webkit-keyframes bounceSm {
    0% {
      bottom: 15%; }
    50% {
      bottom: 20%; }
    100% {
      bottom: 15%; } }
  @keyframes bounceSm {
    0% {
      bottom: 15%; }
    50% {
      bottom: 20%; }
    100% {
      bottom: 15%; } }
  .sellBox__img {
    height: 300px;
    padding: 5px; }
  .padding-top-boost {
    padding-top: 40px; }
  .padding-bottom-boost {
    padding-bottom: 40px; }
  .nav__logo {
    font-size: 1em; }
  [class*='sellBox--bdr'] {
    border: none; }
  #locationContent h1 {
    font-size: 2rem; }
  .form__input {
    width: auto;
    text-align: center;
    padding: 10px 0;
    margin: 10px;
    border-bottom: 1px solid black; }
  form {
    margin: 50px 0px; }
  .title__lg--vwVersion {
    font-size: 13vw; }
  .title__md--vwVersion {
    font-size: 2.5rem; }
  #navi {
    font-size: 1.25rem; }
  .ABZ {
    display: none;
    transition: all 1s ease; }
  .img--scaleUp {
    transform: scale(1); }
  .blog--introText {
    font-size: .75rem;
    line-height: 1.5rem;
    padding: 30px 10px; }
  .blogPst--introText--extra {
    display: none; }
  .blog--contentText {
    line-height: 1.75rem;
    padding: 5px 20px; }
  .footer__section {
    padding: 0px; }
  #blogTitle {
    margin-top: 40px;
    padding-bottom: 0; }
  .blogPst--article--buffer {
    margin: 0;
    padding: 0px 0px 50px 0px; }
  .sideBySide {
    flex-flow: column nowrap; }
  .sellBox--tile__med {
    margin: 0; }
  .img--scaleUp--extra {
    transform: scale(6.4); }
  .form__button--submit {
    font-size: 1rem; }
  footer {
    padding-top: 50px; }
  .title__xs--vwVersion {
    font-size: 4vw; }
  .item--snap--5Hunna {
    margin: 0px 50px; }
  .hamburger__icon {
    padding: 15px; }
  .item--snap--3Hunna {
    display: flex;
    flex-flow: column;
    align-items: center; }
  .priceList__ColorBlock--pink {
    align-self: flex-start;
    margin-left: 20%; }
  .progress--container {
    top: 78px; } }

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }
