<% include partials/header %>


<section class="section--lightblue" id='bookingForm'>
    <form action='/appointment' method="POST" class=" padding-top-boost bookingForm section--lightblue">

        <div class='title__xxs--vwVersion title__neat2a title__uppercase
             title__padding'>

            <div class='title__padding--mini '>
                Hi, I'm

                <input type='text' class=' form__input form__input--short' name='firstName' placeholder='first name'
                    required>

                <input type='text' class=' form__input--short form__input' name='lastName' placeholder='last name'
                    required><br>
            </div>

            <div class='title__padding--mini '>
                & I want you to give me a gorgeous

                <input list="treatments" name='treatment' class=' form__input' placeholder='    the treatment    '
                    required>
                <datalist id="treatments">
                    <option value="Express Manicure">
                    <option value="Express Pedicure">
                    <option value="Express Brow">
                    <option value="Express Lash">
                    <option value="Mani Pedi deluxe">
                    <option value="Dermabrasion">
                    <option value="Shellac 4 week nail">
                </datalist>

            </div>


            <div class='title__padding--mini '>
                I want it on the

                <input class='form__input' type='date' name='date' placeholder='date' required>

                at

                <input type='time' step='1800' class='form__input' name='time' min="12:00" max="18:00" required
                    oninvalid="this.setCustomValidity('All our slots are 30minutes intervals between 12pm until 6pm')"
                    oninput="this.setCustomValidity('')">
                <br>
            </div>
            <div class='title__padding--mini '>
                You can contact me on

                <input type='tel' class=' form__input' name='mobile' placeholder='    phone number    ' required
                    pattern='^07\d{9}' title='A mobile number starting 07 with 9 more digits'><br>
            </div>

            <div class='title__padding--mini  '>
                & send me an email at
            </div>

            <div class='title__padding--mini '>
                <input type='email' class=' form__input form__input--long' name='email'
                    placeholder='          email          ' required><br>
            </div>

            <div class='title__padding--mini '>
                Thanks!

            </div>
        </div>

<div class="contentContainer--collapse ">
    <div class='contentContainer--oneMiddle close--CB' id='itemClose'>
        <a href='/appConfirmation'>
            <input
                class='form__input--short title__xxs--vwVersion title__uppercase  form__button--submit font--weight--thin title__neat title__padding--mini'
                type='submit'>
        </a>
    </div>
    <div class="title__padding--mini contentContainer--oneMiddle">
        <div class=' close--CB' id='itemClose'>
            <a href='/'>
                <h3
                    class='form__input--short title__uppercase  item--showDaBlock form__button--submit font--weight--thin title__neat title__padding--mini'>
                    Close</h3>
            </a>
        </div>
    </div>
</div>

    </form>

</section>


<% include partials/footer %>