<% include partials/header %>


    <section class="bookingForm padding-top-boost contentContainer--collapse contentContainer section--lightblue" id='bookingForm'>
        <form action='/appointment' method="POST" class="">

            <div class='title--small title--neat2a title--uppercase
             title--padding'>
            
            <div class='form__line'>
            Hi, I'm 

            <input 
                    type='text' 
                    class='form__input form__input--short ' 
                    name='fName' 
                    placeholder='first name'
            > 
            
            <input 
                type='text' 
                class='form__input--short form__input' 
                name='lName' 
                placeholder='last name'
            ><br>
            </div>
            
            <div class='form__line'>
            & I want you to give me a gorgeous 
            
            <input 
                list="treatments" 
                class='form__input' 
                placeholder='the treatment'
            >
                <datalist id="treatments">
                    <option value="Express Manicure">
                    <option value="Express Pedicure">
                    <option value="Express Brow">
                    <option value="Express Lash">
                    <option value="Mani Pedi deluxe">
                    <option value="Dermabrasion">
                    <option value="Shellac 4 week nail">
                </datalist> 
            
            </div>
            

            <div class='form__line'>
            I want it on the 
            
            <input class='form__input' 
                type='date' 
                name='date' 
                placeholder='date'
            > 
        
            at 
        
            <input 
                type='time' 
                class='form__input ' 
                name='time' 
                min="12:00" 
                max="18:00" 
                placeholder='time'
            ><br>
        </div>
        <div class='form__line'>
            You can contact me on 
            
            <input 
                type='text' 
                class='form__input' 
                name='mobile' 
                placeholder='mobile number'
            ><br>
        </div>
        
        <div class='form__line'>
            & send me an email at 
        </div>
 
        <div class='form__line'>
            <input 
                type='email' 
                class='form__input form__input--long' 
                name='email' 
                placeholder='                   email'
            ><br>
        </div>

        <div class='form__line'>
            Thanks!

        </div>    
            </div>
        
        <div class='contentContainer'>
            <input class='title--xs title--uppercase form__button--submit font--weight--thin title--neat title--padding--mini' type='submit'>   
        </div>

        </form>
        <div class='sellbox--inner close--CB item--pointer' id='itemClose' >
            <h3 class='title--xs title--uppercase form__button--submit font--weight--thin title--neat title--padding--mini'><a href='/'>Close</a></h3>
        </div>  
          
    </section>


<% include partials/footer %>