<% include partials/header %>

<section class="contentContainer section--lightblue">
    <div class='padding-top-boost sellBox'>
        <h1 class='padding-top-boost title--small title--neat2a title--uppercase title--padding'>
            The Lash Bar : Beauty Blog
        </h1>
    </div>
</section>


<% include partials/footer %>