<% include partials/header %>
<section id=''>


    <section id='' class=" contentContainer section--lightblue">
        <div class='padding-top-boost sellBox'>
            <h1 id='blogTitle' class='padding-top-boost title--md--vwVersion title--neat2a title--uppercase title--padding'>
                The Beauty Blog
            </h1>
        </div>
    </section>
    <section id='blogPst' class=" contentContainer section--lightblue blogPst--article--buffer">
        <article role='article' class='sideBySide '>
            <aside class='contentContainer--confine'>
                <img class=' img--largefill' src="/hair7.jpg" alt="close up of an eye with mascara">
            </aside>
            <aside id='' class='contentContainer--oneMiddle'>
                <div>
                    <h3 class='title title--padding title--md title--neat2a title--uppercase sellBox'>More</h3>
                    <span class='title title--small title--neat2a title--uppercase sellBox'>Lash</span>
                    <div class='title sellBox'>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <aside class='sellBox title--padding sellBox--tile__med '>
                            <img class='momentContent sellBox__img' src="/eye9.jpg" alt="">
                        </aside>

                        <p class='title--uppercase title--padding title--xs title--neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='title--uppercase title--padding title--xs title--neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='title--uppercase title--padding title--xs title--neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                    </div>

            </aside>
        </article>
    </section>
    <section class=" contentContainer section--lightblue blogPst--article--buffer">
        <article role='article' class='sideBySide '>
            <aside class='contentContainer--confine'>
                <img class=' img--largefill' src="/eye6.jpg" alt="close up of an eye with mascara">
            </aside>
            <aside class='contentContainer--oneMiddle'>
                <div>
                    <h3 class='title title--padding title--md title--neat2a title--uppercase sellBox'>More</h3>
                    <span class='title title--small title--neat2a title--uppercase sellBox'>Lash</span>
                    <div class='title sellBox'>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='title--uppercase title--padding title--xs title--neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='title--uppercase title--padding title--xs title--neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>
                        <aside class='sellBox title--padding sellBox--tile__med '>
                            <img class=' sellBox__img' src="/eye5.jpg" alt="">
                        </aside>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                    </div>

            </aside>
        </article>
    </section>
    <section class=" contentContainer section--lightblue blogPst--article--buffer">
        <article role='article' class='sideBySide '>
            <aside class='contentContainer--confine'>
                <img class=' img--largefill' src="/hair8.jpg" alt="close up of an eye with mascara">
            </aside>
            <aside class='contentContainer--oneMiddle'>
                <div class=''>
                    <div class="progressHeader">
                        <div class="progress--container">
                            <div class="progress--bar" id='choochoo'></div>
                        </div>
                    </div>
                    <h3 class='title title--padding title--md title--neat2a title--uppercase sellBox'>More</h3>
                    <span class='title title--small title--neat2a title--uppercase sellBox'>Lash</span>
                    <div class='title sellBox'>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='title--uppercase title--padding title--xs title--neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='title--uppercase title--padding title--xs title--neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <aside class='sellBox sellBox--tile__med title--padding '>
                            <img class=' sellBox__img' src="/eye9.jpg" alt="">
                        </aside>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='title--uppercase title--padding title--xs title--neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                    </div>
                </div>
            </aside>
        </article>
    </section>

</section>


<% include partials/footer %>