<% include partials/header %>
<section id=''>

    <section id='' class=" contentContainer section--lightblue">
        <div class='padding-top-boost sellBox'>
            <h1 id='blogTitle'
                class='padding-top-boost title__md--vwVersion title__fancy3 title__uppercase title__padding'>
                The Beauty Blog
            </h1>
        </div>
    </section>
    <section id='blogPst' class=" contentContainer section--lightblue blogPst--article--buffer">
        <article role='article' class='sideBySide '>
            <aside class='contentContainer--confine'>
                <img class=' img--largefill' src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873297/lashbar/hair7.webp" alt="close up of an eye with mascara">
            </aside>
            <aside id='' class='contentContainer--oneMiddle'>
                <div>
                    <div class="progressHeader">
                        <div class="progress--container">
                            <div class="progress--bar"></div>
                        </div>
                    </div>
                    <h3 class='title title__padding title__md--vwVersion title__yellow title__neat2a title__uppercase sellBox'>More Lash
                    </h3>
                    <div class='title sellBox coco'>
                            <h5 class='title title__xxs--vwVersion title__neat title__uppercase sellBox'><%= new Date().toDateString(); %></h5>
                        <p class='blog--contentText title__uppercase title__padding title__xxs--vwVersion title__neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <aside class='sellBox title__padding sellBox--tile__med '>
                            <img class='momentContent sellBox__img' src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873296/lashbar/eye9.webp" alt="">
                        </aside>

                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                    </div>
                </div>
            </aside>
        </article>
    </section>
    <section class=" contentContainer section--lightblue blogPst--article--buffer">
        <article role='article' class='sideBySide '>
            <aside class='contentContainer--confine'>
                <img class=' img--largefill' src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873295/lashbar/eye6.webp" alt="close up of an eye with mascara">
            </aside>
            <aside class='contentContainer--oneMiddle'>
                <div>
                    <h3 class='title title__padding title__md--vwVersion title__neat2a title__maroon title__uppercase sellBox'>More Lash
                    </h3>
                    <div class='title sellBox'>
                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>
                        <aside class='sellBox title__padding sellBox--tile__med '>
                            <img class=' sellBox__img' src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873297/lashbar/eye5.webp" alt="">
                        </aside>
                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                    </div>
                </div>
            </aside>
        </article>
    </section>
    <section class=" contentContainer section--lightblue blogPst--article--buffer">
        <article role='article' class='sideBySide '>
            <aside class='contentContainer--confine'>
                <img class=' img--largefill' src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873299/lashbar/hair8.webp" alt="close up of an eye with mascara">
            </aside>
            <aside class='contentContainer--oneMiddle'>
                <div class=''>
                    <h3 class='title title__padding title__md--vwVersion title__neat2a title__blanchedA title__uppercase sellBox'>
                        More Lash</h3>
                    <div class='title sellBox'>
                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='blog--contentText title__uppercase title__padding--mini title__xxs--vwVersion title__neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                        <aside class='sellBox sellBox--tile__med title__padding '>
                            <img class=' sellBox__img' src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873296/lashbar/eye9.webp" alt="">
                            <!-- <img class=' sellBox__img' src="/eye9.webp" alt=""> -->
                        </aside>
                        <p class='blog--contentText title__uppercase title__padding title__xxs--vwVersion title__neat2a'>
                            Yr neutra lo-fi, microdosing mlkshk leggings kitsch chillwave mixtape salvia keytar. Fashion
                            axe before they sold out squid air plant. Vinyl bicycle rights pug jean shorts poutine paleo
                            you probably haven't heard of them butcher craft beer tumeric mlkshk +1.
                        </p>

                        <p class='blog--contentText title__uppercase title__padding title__xxs--vwVersion title__neat2a'>Fam chambray viral
                            four dollar toast brunch, tumeric skateboard cray listicle chia hell of street art XOXO
                            try-hard. Asymmetrical mixtape jean shorts vape tumblr freegan. Locavore pop-up sustainable,
                            shoreditch iceland quinoa venmo mumblecore wolf retro. Chillwave PBR&B quinoa pok pok
                            bushwick paleo listicle kitsch +1 migas.</p>
                    </div>
                </div>
            </aside>
        </article>
    </section>

</section>


<% include partials/footer %>