<% include partials/header %>


<section class='sellBox padding-bottom-boost title--padding section--lightblue contentContainer'>
    <article>
        <div>
            <h1 class='title--neat2a title--uppercase title--small padding-top-boost'>That page couldn't be found</h1>

            <img class='sellBox--tile__med ' src="/weebae-ohhh.gif" alt="">
            <h4 class='title--fancy  title--sm--vwVersion'>Fancy a manicure instead?</h4>
        </div>
    </article>
</section>
<% include partials/footer %>