<% include partials/header %>


<section class='sellBox padding-bottom-boost title__padding section--lightblue contentContainer'>
    <article>
        <div>
            <h1 class='title__neat2a  titletitle__uppercase title__xxs--vwVersion padding-top-boost'>Your fingers led you to a
                page couldn't be found!</h1>
            <video autoplay muted loop class='sellBox--tile__med '>
                <source
                    src='https://res.cloudinary.com/yelpcampmedia/video/upload/v1573750259/portfolio/notfound_mp4.mp4'
                    type='video/mp4'>
            </video>
            <h4 class='title__fancy3  title__xxs--vwVersion'>Fancy a manicure instead?</h4>
        </div>
    </article>
</section>
<% include partials/footer %>