<% include partials/header %>

<!-- <section class='subscription__container section--lightblue contentContainer'>
        <div class='title--padding  title title--neat2a title--xs--vwVersion title--uppercase contentContainer--allMiddle'>
            
            <p>Stay in the loop with exclusive deals and offers :</p>
            <input type="text" name="signup" placeholder="Email Address" id="" class='title--padding--noBottom title--xs--vwVersion subscribe--input'>
            <label for="signup" class=' title--padding'>Subscribe</label>
        </div>
    
    </section> -->


<!-- <div id='loaderContainer' class='loader section--lightblue section--screenHg sellBox contentContainer--oneMiddle'>
    <div class=''>

        <div>
            <h4 id='loaderCurrentNum' class='welcomeMsg title--neat  title--lg--vwVersion title--uppercase'>
                <h4>
                    <h1 class="welcomeMsg title--neat2 title--md--vwVersion title--uppercase title--padding">   The
                        Lash Bar<br><span
                            class="welcomeMsg title--neat2a title--sm--vwVersion title--uppercase title--padding"
                            id='welcomeMsgDone'>Will See You Now<span</h1> </div> </div> </div> -->


<section class=''>


    <article id='lashIntro' role='article' class='contentContainer'>
        <aside class='text-overlap'>
            <h1 id='welcomeMsg' class='title--lg--vwVersion title--fancy'>Nails</h1>
            <h3 class='title--small welcomeMsg--introText title--fancy2'>We are a multidisciplinary beauty studio<br>
                with a thing for flawless nails, brows and hair.</h3>
        </aside>
        <img id='' class='img--screenHg img--fade'
            src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873301/lashbar/nails1.webp"
            alt="image of manicured nails held close to a woman's face">
        <ul class="img--screenHg img--fade slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </article>
    <a href="#blogPost">
        <div class="  scroll-indicator fa fa-chevron-down"></div>
    </a>
</section>
<section id='blogPost'>
    <article role='article' class='sideBySide contentContainer--pale '>
        <aside class='contentContainer--confine '>
            <img class='img--scaleUp img--largefill img--position--btm'
                src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873297/lashbar/hair7.webp"
                alt="close up of an eye with mascara">
        </aside>
        <aside class='contentContainer--oneMiddle'>
            <div class='padding-bottom-boost'>
                <h3 class='title title--padding title--xs title--neat2a title--uppercase sellBox title--spaceOut'>The
                    Beauty Blog</h3>
                <a href='/blogHome'>
                    <h3 class='title title--padding title--md title--neat2a title--uppercase sellBox'>More</h3>
                    <span class='title title--small title--neat2a title--uppercase sellBox'>Lash</span>
                    <div class='title sellBox'>
                        <p class='blog--introText title--uppercase title--padding title--xs title--neat2a'>Man braid
                            before they sold out banh mi cold-pressed. Drinking vinegar raw denim subway tile meh blog
                            portland. Skateboard scenester succulents. <span class='blogPst--moreTease'>Read
                                More...</span></p>
                </a>
            </div>

        </aside>
    </article>
</section>

<section class='location__content--container section--lightblue ' id='location'>
    <article>
        <div class='location__container--fitInside padding-top-boost padding-bottom-boost'>

            <div class="sellBox">
                <h1 class='title title--md--vwVersion title--neat2a title--uppercase title--padding'>Locations</h1>
                <p class="sellBox title--sm title--padding title--neat location__content--hours">*Open Monday to Saturday, 12pm -
                    6pm*</p>
            </div>
            <div class='contentContainer--collapse '>
                <div class=' item--snap--5Hunna contentContainer'>
                    <div class='article--outer'>
                        <h3 class="location__content--site title--small title--padding title--fancy">Sheffield</h3>
                        <h3 class="title--small title--padding title--neat">Sheffield</h3>
                        <h5 class="sellBox title--xs title--neat">07525618042</h5>
                        <h5 class="sellBox title--xs title--padding title--neat2a title--uppercase location__content--address">
                            Middlewood Rd., <br>Hillsborough,
                            <br>S6
                            4GX</h5>
                    </div>
                </div>

                <div class='dividerBlack--thin'></div>

                <div class=' item--snap--5Hunna contentContainer'>
                    <div class='article--outer'>
                        <h3 class="location__content--site title--small title--padding title--fancy">London</h3>
                        <h3 class="title--small title--padding title--neat">London</h3>
                        <h5 class="sellBox title--xs title--neat">07525618042</h5>
                        <h5 class="sellBox title--xs title--padding title--neat2a title--uppercase location__content--address">St
                            James Rd., <br>Surbiton,
                            <br>KT6 1TG
                        </h5>
                    </div>
                </div>

            </div>

            <img class='img--scaleUp--extra img--fade--stronger'
                src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873303/lashbar/sheffMap.webp"
                alt="a map of sheffield during the 19th Century">
        </div>


    </article>
</section>

<section id='ourWork' class='padding-top-boost section--lightblue title--padding'>
    <article role='article' class=''>
        <h1 class=' title--neat2a sellBox title--padding title--uppercase font--weight--thin title--md--vwVersion'>
            Our Work</h1>
        <div class='contentContainer contentContainer__sideByside '>

            <aside class='sellBox sellBox--tile__med '>
                <img class='sellBox__img'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873299/lashbar/hair9.webp" alt="">
            </aside>
            <aside class='sellBox sellBox--tile__med '>
                <img class='sellBox__img'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873296/lashbar/hair5.webp" alt="">

            </aside>
            <aside class='sellBox sellBox--tile__med             '>
                <img class='sellBox__img'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873295/lashbar/hair2.webp" alt="">

            </aside>
            <aside class='sellBox sellBox--tile__med'>
                <img class='sellBox__img'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873301/lashbar/nails1.webp" alt="">
            </aside>
        </div>
    </article>
</section>


<section>
    <article id='prices' class='padding-bottom-boost padding-top-boost'>
        <div>
            <h1 class='title--padding title--neat2a title--md--vwVersion sellBox title--uppercase font--weight--thin'>
                Price List</h1>
            <div class='contentContainer--allMiddle'>
                <div class='priceList__category'>
                    <h2
                        class='priceList__ColorBlock--pink title--padding  title--uppercase title--neat2 font--weight--thin'>
                        Nails</h2>
                    <ul class='item--snap--3Hunna  title--padding title--neat2 font--weight--thin title--xs'>
                        <li>Kure Bazaar Organic Manicure £61.00</li>
                        <li>Haute Manicure £45.00</li>
                        <li> Twenty Minute Manicure £35.00</li>
                        <li>File and Buff (15mins) £25.00</li>
                        <li>File and Polish (15mins) £25.00 </li>
                        <li>Gold Kissed Manicure £69.00</li>
                    </ul>
                </div>
                <div class='priceList__category'>
                    <h2
                        class='priceList__ColorBlock--pink title--padding title--uppercase title--neat2 font--weight--thin'>
                        Brows</h2>
                    <ul class='item--snap--3Hunna title--padding title--neat2 font--weight--thin'>
                        <li>Kure Bazaar Organic Manicure £61.00</li>
                        <li>Haute Manicure £45.00</li>
                        <li> Twenty Minute Manicure £35.00</li>
                        <li>File and Buff (15mins) £25.00</li>
                        <li>File and Polish (15mins) £25.00 </li>
                        <li>Gold Kissed Manicure £69.00</li>
                    </ul>
                </div>
                <div class='priceList__category'>
                    <h2
                        class='priceList__ColorBlock--pink title--padding title--uppercase title--neat2 font--weight--thin'>
                        Make Up</h2>
                    <ul class='item--snap--3Hunna title--padding title--neat2 font--weight--thin'>
                        <li>Kure Bazaar Organic Manicure £61.00</li>
                        <li>Haute Manicure £45.00</li>
                        <li> Twenty Minute Manicure £35.00</li>
                        <li>File and Buff (15mins) £25.00</li>
                        <li>File and Polish (15mins) £25.00 </li>
                        <li>Gold Kissed Manicure £69.00</li>
                    </ul>
                </div>


            </div>
        </div>
    </article>
</section>

<section id='social' class='title--padding section--lightblue contentContainer--spreadOutWide'>
    <div class='title--padding title title--neat2a title--md--vwVersion  title--uppercase'>Stay Social<br><%  %></div>
    <ul class=' tweetContainer contentContainer--collapseA title--padding'>
        <li><i class="fab fa-pinterest title--small item--pointer title--blanchedA"></i></li>
        <li><i class="fab fa-spotify title--small item--pointer title--blanchedA"></i></i></li>
        <li><i class="fab fa-snapchat title--small item--pointer title--blanchedA"></i></li>
        <li><i class="fab fa-instagram title--small item--pointer title--blanchedA"></i></li>
        <li><i class="fab fa-facebook title--small item--pointer title--blanchedA"></i></li>
        <li><i class="fab fa-youtube title--small item--pointer title--blanchedA"></i></li>
    </ul>

    <article class=' tweetContainer contentContainer--oneMiddle title--padding'>
        <div class="">
            <a class="twitter-timeline sellBox__img--small" data-lang="en" data-height="300"
                href="https://twitter.com/TheLashBarSheff?ref_src=twsrc%5Etfw">Tweets by
                TheLashBarSheff</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </article>
</section>




<% include partials/footer %>