<% include partials/header %>



<!-- <div id='loaderContainer' class='loader section--lightblue section--screenHg sellBox contentContainer--oneMiddle'>
    <div class=''>

        <div>
            <h4 id='loaderCurrentNum' class='welcomeMsg title__neat  title__lg--vwVersion title__uppercase'>
                <h4>
                    <h1 class="welcomeMsg title__neat2 title__md--vwVersion title__uppercase title__padding">   The
                        Lash Bar<br><span
                            class="welcomeMsg title__neat2a title__sm--vwVersion title__uppercase title__padding"
                            id='welcomeMsgDone'>Will See You Now<span</h1> </div> </div> </div> -->


<div class=''>


    <article id='lashIntro' role='article' class='contentContainer'>

        <ul class="img--screenHg img--fade slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </article>

</div>

<div class='introSection--container '>

    <article role='article' class=' padding-bottom-boost__mini introSection--container--text title__padding '>
        <h1 id='welcomeMsg'
            class='introSection--container--welcomeMsg title__blanchedA title__lg--vwVersion title__fancy'></h1>

        <h3 class='title__padding text--white title__sm--vwVersion  title__fancy3 container__introSection--textSell'>We
            are a
            multidisciplinary beauty studio providing luxury treatments at our laid-back treatment lounge for those
            who love flawless nails, brows
            and hair.</h3>
        <h1
            class='contentContainer--oneMiddle title__blanchedA contentContainer__sideByside introSection--container--textSignature'>
            <span id='lashTitle1' class='title__neat2 title__uppercase title__spaceOut font--weight--thin'>- The
            </span>
            <span id='lashTitle2' class='title__spaceOut  title__neat2 title__uppercase'>Lash</span>
            <span id='lashTitle3' class='title__neat2 title__uppercase title__spaceOut font--weight--thin'>Bar
            </span>
        </h1>
    </article>

</div>
<section id='ourWork' class='padding-top-boost padding-bottom-boost section--lightblue title__padding'>
    <article rolex='article' class=''>
        <h1 class=' title__neat2a sellBox title__padding title__uppercase font--weight--thin title__md--vwVersion'>
            Our Work</h1>
        <div class='contentContainer contentContainer__sideByside '>
            <aside class='sellBox sellBox--tile__med'>
                <img class='sellBox__img'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873301/lashbar/nails1.jpg" alt="">
            </aside>
            <aside class='sellBox sellBox--tile__med '>
                <img class='sellBox__img'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873296/lashbar/hair5.jpg" alt="">

            </aside>
            <aside class='sellBox sellBox--tile__med             '>
                <img class='sellBox__img'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873295/lashbar/hair2.jpg" alt="">

            </aside>
        </div>
    </article>
</section>

<section class='location__content--container section--lightblue ' id='location'>
    <article>
        <div class='container__location--fitInside padding-top-boost padding-bottom-boost'>

            <div class="sellBox">
                <h1 class='title title__md--vwVersion title__neat2a title__uppercase title__padding'>Locations</h1>
            </div>
            <div class='contentContainer--collapse '>
                <div class=' item--snap--5Hunna contentContainer'>
                    <div class='article--outer'>
                        <h3 class="location__content--site title__xxs--vwVersion title__padding title__fancy">Sheffield
                        </h3>
                        <h3 class="sellBox title__xs--vwVersion title__uppercase title__neat">Sheffield</h3>
                        <h5
                            class="sellBox title__xxs--vwVersion title__padding title__neat2a title__uppercase location__content--address">
                            Middlewood Rd., <br>Hillsborough,
                            <br>S6
                            4GX</h5>
                        <div>
                            <h5 class="title__xxs--vwVersion title__neat2a title__uppercase location__content--hours">
                                Monday - 12pm to 6pm</h5>
                            <h5 class="title__xxs--vwVersion title__neat2a title__uppercase location__content--hours">
                                Tueday - 12pm to 6pm</h5>
                            <h5 class="title__xxs--vwVersion title__neat2a title__uppercase location__content--hours">
                                Wednesday - 12pm to 6pm</h5>
                            <h5 class="title__xxs--vwVersion title__neat2a title__uppercase location__content--hours">
                                Thursday - 12pm to 6pm</h5>
                            <h5 class="title__xxs--vwVersion title__neat2a title__uppercase location__content--hours">
                                Friday - 12pm to 6pm</h5>
                        </div>
                    </div>
                </div>

                <div class='article--outer item--snap--5Hunna'>
                    <h3 class="location__content--site title__xxs--vwVersion title__padding title__fancy">London</h3>
                    <h3 class="sellBox title__xs--vwVersion title__neat title__uppercase">London</h3>
                    <h5
                        class="sellBox title__xxs--vwVersion title__padding title__neat2a title__uppercase location__content--address">
                        St
                        James Rd., <br>Surbiton,
                        <br>KT6 1TG
                    </h5>
                    <h5 class="title__xxs--vwVersion title__neat2a title__uppercase location__content--hours">Monday -
                        12pm to 6pm</h5>
                    <h5 class="title__xxs--vwVersion title__neat2a title__uppercase location__content--hours">Tueday -
                        12pm to 6pm</h5>
                    <h5 class="title__xxs--vwVersion title__neat2a title__uppercase location__content--hours">Wednesday
                        - 12pm to 6pm</h5>
                    <h5 class="title__xxs--vwVersion title__neat2a title__uppercase location__content--hours">Thursday -
                        12pm to 6pm</h5>
                    <h5 class="title__xxs--vwVersion title__neat2a title__uppercase location__content--hours">Friday -
                        12pm to 6pm</h5>
                    <div>
                    </div>
                </div>

            </div>



        </div>


    </article>


</section>





<section>
    <article id='treatments' class='padding-bottom-boost padding-top-boost'>
        <div>
            <h1 class='title__padding title__neat2a title__md--vwVersion sellBox title__uppercase font--weight--thin'>
                Treatments</h1>
            <div class='contentContainer--allMiddle'>
                <div class='item--snap--3Hunna priceList__category title__xxs--vwVersion'>
                    <h2
                        class='priceList__ColorBlock--pink title__padding  title__uppercase title__neat2 font--weight--thin'>
                        Nails</h2>
                    <ul class=' title title__padding title__neat2 font--weight--thin'>
                        <li>Kure Bazaar Organic Manicure £61.00</li>
                        <li>Haute Manicure £45.00</li>
                        <li> Twenty Minute Manicure £35.00</li>
                        <li>File and Buff (15mins) £25.00</li>
                        <li>File and Polish (15mins) £25.00 </li>
                        <li>Gold Kissed Manicure £69.00</li>
                    </ul>
                </div>
                <div class='item--snap--3Hunna priceList__category title__xxs--vwVersion'>
                    <h2
                        class='priceList__ColorBlock--pink title__padding title__uppercase title__neat2 font--weight--thin'>
                        Brows</h2>
                    <ul class=' title__padding title__neat2 font--weight--thin'>
                        <li>Kure Bazaar Organic Manicure £61.00</li>
                        <li>Haute Manicure £45.00</li>
                        <li> Twenty Minute Manicure £35.00</li>
                        <li>File and Buff (15mins) £25.00</li>
                        <li>File and Polish (15mins) £25.00 </li>
                        <li>Gold Kissed Manicure £69.00</li>
                    </ul>
                </div>
                <div class='item--snap--3Hunna priceList__category title__xxs--vwVersion'>
                    <h2
                        class='priceList__ColorBlock--pink title__padding title__uppercase title__neat2 font--weight--thin'>
                        Lashes</h2>
                    <ul class=' title__padding title__neat2 font--weight--thin'>
                        <li>Kure Bazaar Organic Manicure £61.00</li>
                        <li>Haute Manicure £45.00</li>
                        <li> Twenty Minute Manicure £35.00</li>
                        <li>File and Buff (15mins) £25.00</li>
                        <li>File and Polish (15mins) £25.00 </li>
                        <li>Gold Kissed Manicure £69.00</li>
                    </ul>
                </div>


            </div>
        </div>
    </article>
</section>

<section id='social' class='title__padding section--lightblue contentContainer--spreadOutWide'>
    <div class='title__padding title title__neat2a title__md--vwVersion social title__uppercase'>Stay Social<br><%  %>
    </div>

    <ul class=' tweetContainer social__iconContainer contentContainer--collapseA title__padding'>
        <li><i role="button" class="social__icon fab fa-pinterest on item--pointer title__blanchedA"></i></li>
        <li><i role="button" class="social__icon fab fa-spotify t  item--pointer title__blanchedA"></i></i></li>
        <li><i role="button" class="social__icon fab fa-snapchat  n item--pointer title__blanchedA"></i></li>
        <li><i role="button" class="social__icon fab fa-instagram on item--pointer title__blanchedA"></i></li>
        <li><i role="button" class="social__icon fab fa-facebook  n item--pointer title__blanchedA"></i></li>
        <li><i role="button" class="social__icon fab fa-youtube t  item--pointer title__blanchedA"></i></li>
    </ul>

    <article class=' tweetContainer contentContainer--oneMiddle title__padding'>
        <div class="">
            <a class="twitter-timeline sellBox__img--small" data-lang="en" data-height="300"
                href="https://twitter.com/ALLADATSTUFF">Tweets by
                AllADatStuff</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </article>
</section>

<section class='section--blogPost--intro' id='blogPost'>
    <article role='article' class='blogPost--container--intro sideBySide contentContainer--pale '>
        <aside class=' contentContainer--confine contentContainer--confine--flex50  '>
            <!-- <picture class='blogPost--img--intro'>
                <source class='blogPost--img--intro'
                    srcset="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873297/lashbar/hair7.jpg">
                <img class='blogPost--img--intro'
                    src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873297/lashbar/hair7.jpg"
                    alt="Flowers" style="width:auto;">
            </picture> -->
            <img class='blogPost--img--intro'
                src="https://res.cloudinary.com/yelpcampmedia/image/upload/v1571873297/lashbar/hair7.jpg"
                alt="close up of an eye with mascara">
        </aside>
        <aside class='contentContainer--oneMiddle contentContainer--confine--flex50 '>
            <div class=''>

                <a href='/blogHome'>
                    <h3
                        class='title title__padding title__md--vwVersion title__maroon title__neat2a blog__introText--headlineOuter title__uppercase sellBox'>
                        The
                        <span
                            class='title title__xs--vwVersion title__fancy3 blog__introText--headlineInner'>Beauty</span>
                        Blog: </br>
                    </h3>
                    <h5 class='title sellBox title__xs--vwVersion title__black title__fancy3 '>Bringing Sultry
                        Back</h5>

                    <div class='title sellBox blogPst--introPara'>
                        <p class='blog--introText title__uppercase title__xxs--vwVersion title__neat2a'>
                            Man braid
                            before they sold out banh mi cold-pressed. Drinking vinegar raw denim subway tile meh blog
                            portland. Skateboard scenester succulents. <span role="button"
                                class=' blogPst--moreTease'>Read
                                More...</span></p>
                </a>
            </div>
        </aside>
    </article>
</section>





<% include partials/footer %>