<% include partials/header %>

<aside class="navMini navPointer">
    <div class=' '>
        <span class='navPointer--item title--neat2'><a href="#location">O</a> </span>
        <span class='navPointer--item title--neat2'><a href="#social">O</a> </span>
        <span class='navPointer--item title--neat2'><a href="#prices">O</a> </span>
    </div>
</aside>
<section class=''>
    <article id='lashIntro' role='article' class='contentContainer'>
        <aside class='text-overlap'>
            <h1 id='welcomeMsg' class='title--lg--vwVersion title--fancy'>Nails</h1>
        </aside>
        <img id='' class='img--screenHg img--fade' src="/nails1.jpg"
            alt="image of manicured nails held close to a woman's face">
    </article>
</section>

<!-- <section>
                <article role='article' class='contentContainer'>
                    <aside class='textPanel text-overlap title--lg title--fancy'>
                        <h1>Brows</h1>
                    </aside>
                    <img class='img--screenHg img--fade' src="../Media/eye.jpg" alt="image of manicured nails held close to a woman's face">
                </article>
            </section>
            <section>
                <article role='article' class='contentContainer'>
                    <aside class='textPanel text-overlap title--xl title--fancy'>
                        <h1>Hair</h1>
                    </aside>
                    <img class='img--screenHg img--fade' src="../Media/hair2.jpg" alt="image of manicured nails held close to a woman's face">
                </article>
            </section> -->
<section class='' id='location'>
    <!-- <section class='section static' id='location'> -->
    <article role='article' class=' height700 section--lightblue contentContainer--oneMiddle article--outer '>



        <div id='locationContent'
            class=" sellBox footer contentContainer--onTop contentContainer__sideByside sellbox--inner bc ">

            <div class="sellBox">
                <h1 class='title title--padding title--md title--neat2a title--uppercase'>Locations</h1>
            </div>
            <div class=' contentContainer--collapse '>

                <div class=' item--snap--5Hunna contentContainer'>
                    <div class='relativo'>
                        <h3 class="ABZ title--small title--padding title--fancy">Hillsborough</h3>
                        <h3 class="title--small title--padding title--neat">Hillsborough</h3>
                        <h5 class="title--xs title--neat">0114 246 3888</h5>
                        <h5 class="title--xs title--padding title--neat">71 Middlewood Road, <br>Hillsborough, <br>S6
                            4GX</h5>
                    </div>
                </div>

                <div class='dividerBlack--thin'></div>

                <div class=' item--snap--5Hunna contentContainer'>
                    <div class='relativo'>
                        <h3 class="ABZ title--small title--padding title--fancy">Chapeltown</h3>
                        <h3 class="title--small title--padding title--neat">Chapeltown</h3>
                        <h5 class="title--xs title--neat">0114 246 3888</h5>
                        <h5 class="title--xs title--padding title--neat">49 Burncross Rd, <br>Chapeltown, <br>S35 1RX
                        </h5>
                    </div>
                </div>

            </div>
        </div>


        <img id='imgMap' class='img--fade--stronger img--largefill' src="/sheffMap.jpg"
            alt="a map of sheffield during the 19th Century">
    </article>

</section>
<!-- <section>
                <article>
                    <div class=' locationSection a700px contentContainer__sideByside'>
                        <div class="">
                            <a class="twitter-timeline sellBox__img--small" data-lang="en" data-height="300" href="https://twitter.com/TheLashBarSheff?ref_src=twsrc%5Etfw">Tweets by TheLashBarSheff</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                        <div class="contentContainer contentContainer--spreadOut section ">
                            <div class="sellBox"><img class='sellBox--bdr--topL sellBox__img--small' src="../Media/hair3.jpg" alt=""></div>
                            <div class="sellBox sellBox--bdr--topLB"><img class='sellBox__img--small' src="../Media/flower.jpg" alt=""></div>
                            <div class="sellBox"><img class='sellBox__img--small' src="../Media/mouth2.jpg" alt=""></div>
                            <div class="sellBox"><img class='sellBox__img--small' src="../Media/art1.jpg" alt=""></div>
                            <div class="sellBox sellBox--bdr--right"><img class='sellBox__img--small' src="../Media/nail2.jpg" alt=""></div>
                        </div>
                    </div>
                </article>
            </section> -->
<section id='ourWork' class='padding-top-boost section--lightblue title--padding'>
    <article role='article' class=''>
        <h1 
            class='title--padding title--neat2a title--md sellBox title--uppercase font--weight--thin title--md'>
            Our Work</h1>
        <div class='contentContainer contentContainer__sideByside '>

            <aside class='sellBox sellBox--tile__med sellBox--bdr--topR'>
                <img class='sellBox__img' src="/eye9.jpg" alt="">
                <!-- <div>
                                <h3>Description</h3>
                            </div> -->
            </aside>
            <aside class='sellBox sellBox--tile__med sellBox--bdr--topLB'>
                <img class='sellBox__img' src="/hair5.jpg" alt="">
                <!-- <div>
                                <h3>Description</h3>
                            </div> -->
            </aside>

            <section id='social' class='contentContainer--spreadOutWide'>
                <!-- <article class='img--stretch'>
                    <div class='contentContainer--spreadOutWide '> -->
                <div class="">
                    <a class="twitter-timeline sellBox__img--small" data-lang="en" data-height="300"
                        href="https://twitter.com/TheLashBarSheff?ref_src=twsrc%5Etfw">Tweets by
                        TheLashBarSheff</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <!-- </div>
                </article> -->
            </section>




            <aside class='sellBox sellBox--tile__med sellBox--bdr--topR'>
                <img class='sellBox__img' src="/hair2.jpg" alt="">
                <!-- <div>
                                <h3>Description</h3>
                            </div> -->
            </aside>
            <aside class='sellBox sellBox--tile__med sellBox--bdr--topLB'>
                <img class='sellBox__img' src="./nails1.jpg" alt="">
                <!-- <div>
                                <h3>Description</h3>
                            </div> -->
            </aside>
        </div>
    </article>
</section>

<section id='social' class='section--lightgrey contentContainer--spreadOutWide title--padding'>
    <article class='img--stretch'>
        <div class='contentContainer--spreadOutWide'>
            <div class="contentContainer--spreadOutWide">
                <div class="sellBox item--snap--small"><img class='sellBox__img--small img--padding--sm'
                        src="/flower.jpg" alt=""></div>
                <div class="sellBox item--snap--small"><img class='sellBox__img--small img--padding--sm' src="/eye4.jpg"
                        alt=""></div>
                <div class="sellBox item--snap--small"><img class='sellBox__img--small img--padding--sm'
                        src="/hair3.jpg" alt=""></div>
                <div class="sellBox item--snap--small"><img class='sellBox__img--small img--padding--sm'
                        src="/mouth2.jpg" alt=""></div>
            </div>
        </div>
    </article>
</section>

<section>
    <article class=' title--padding'>
        <div>
            <h1 id='prices'
                class='title--padding padding-top-boost__extra title--neat2a title--md sellBox title--uppercase font--weight--thin title--md'>
                Price List</h1>
            <div class='contentContainer--allMiddle'>
                <div class='priceList__category'>
                    <h2
                        class='priceList__ColorBlock--pink title--padding  title--uppercase title--neat2 font--weight--thin'>
                        Nails</h2>
                    <ul class='item--snap--3Hunna  title--padding title--neat2 font--weight--thin'>
                        <li>Kure Bazaar Organic Manicure £61.00</li>
                        <li>Haute Manicure £45.00</li>
                        <li> Twenty Minute Manicure £35.00</li>
                        <li>File and Buff (15mins) £25.00</li>
                        <li>File and Polish (15mins) £25.00 </li>
                        <li>Gold Kissed Manicure £69.00</li>
                    </ul>
                </div>
                <div class='priceList__category'>
                    <h2
                        class='priceList__ColorBlock--pink title--padding title--uppercase title--neat2 font--weight--thin'>
                        Brows</h2>
                    <ul class='item--snap--3Hunna title--padding title--neat2 font--weight--thin'>
                        <li>Kure Bazaar Organic Manicure £61.00</li>
                        <li>Haute Manicure £45.00</li>
                        <li> Twenty Minute Manicure £35.00</li>
                        <li>File and Buff (15mins) £25.00</li>
                        <li>File and Polish (15mins) £25.00 </li>
                        <li>Gold Kissed Manicure £69.00</li>
                    </ul>
                </div>
                <div class='priceList__category'>
                    <h2
                        class='priceList__ColorBlock--pink title--padding title--uppercase title--neat2 font--weight--thin'>
                        Make Up</h2>
                    <ul class='item--snap--3Hunna title--padding title--neat2 font--weight--thin'>
                        <li>Kure Bazaar Organic Manicure £61.00</li>
                        <li>Haute Manicure £45.00</li>
                        <li> Twenty Minute Manicure £35.00</li>
                        <li>File and Buff (15mins) £25.00</li>
                        <li>File and Polish (15mins) £25.00 </li>
                        <li>Gold Kissed Manicure £69.00</li>
                    </ul>
                </div>
                <!-- <div class='priceList__category'>
                                    <h2 class='priceList__ColorBlock--pink title--padding title--uppercase title--neat2 font--weight--thin'>Lashes</h2>
                                    <div class='listGrid title--padding title--neat2 font--weight--thin'>
                                        <div>Kure Bazaar Organic Manicure</div> <div>£61.00</div>
                                        <div>Haute Manicure</div> <div>£45.00</div>
                                        <div> Twenty Minute Manicure</div> <div>£35.00</div>
                                        <div>File and Buff (15mins)</div> <div>£25.00</div>
                                        <div>File and Polish (15mins)</div> <div>£25.00 </div> 
                                        <div>Gold Kissed Manicure</div> <div>£69.00</div>
                                    </div>
                                </div> -->

            </div>
        </div>
    </article>
</section>

<!-- <section>
                <article role='article' class='parallaxTry'>
                        <aside class='textPanel text-overlap title--lg title--fancy'>
                                <h1 id=''>Nails</h1>
                            </aside>
                </article>
            </section> -->
<section id='blogPost'>
    <article role='article' class='sideBySide '>
        <aside class='contentContainer--confine'>
            <img class='img--position--btm img--largefill' src="/hair7.jpg" alt="close up of an eye with mascara">
        </aside>
        <aside class='contentContainer--oneMiddle'>
            <div>
                <a href='/blogHome'>
                    <h3 class='title title--padding title--md title--neat2a title--uppercase sellBox'>More</h3>
                    <span class='title title--small title--neat2a title--uppercase sellBox'>Lash</span>
                    <div class='title sellBox'>
                        <p class='title--uppercase title--padding title--xs title--neat2a'>More words here blah blah
                            blah blah blah
                            blah
                            blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                            blah
                            blah blah blah blah blah blah <span class='blogPst--moreTease'>Read More...</span></p>
                </a>
            </div>
            
        </aside>
    </article>
</section>


<% include partials/footer %>